

![[Pasted image 20251218230256.png]]


![[Pasted image 20251218230914.png]]


![[Pasted image 20251218231044.png]]


![[Pasted image 20251218231121.png]]


![[Pasted image 20251218231212.png]]


![[Pasted image 20251218231236.png]]
